
/**
	HTML элементы - НАЧАЛО
 */
.html-element {}

.html-element-form {
    display: inline-block;
}

.html-element-form .html-element-ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.html-element-form .html-element-ul .html-element-li {
    margin: 4px 2px;
}
.html-element-form .html-element-ul .html-element-li.type-submit {
    margin-top: 8px;
    margin-bottom: 8px;
}
.html-element-form .html-element-ul .html-element-li.type-submit-center {
    text-align: center;
}
.html-element-form .html-element-ul .html-element-li.type-submit-right {
    text-align: right;
}
.html-element-form .html-element-ul .html-element-li.type-submit-bytext {
    margin-left: 126px;
}

.html-element-form .html-element-label {
    margin: 4px 2px;
}
.html-element-form .html-element-label {
    float: left;
    width: 120px;
}
.html-element-textarea,
.html-element-text {
    color: #1a151a;
    border: 1px solid #e8e0e8;
    padding: 6px 8px;
    width: 100%;
    max-width: 580px;

    border-radius: 1px;
}
.html-element-select.fill-required,
.html-element-text.fill-required {
    border-color: #df3737;
}
/*Класс у div эелмента*/
.html-element-checkbox {
    display: inline-block;
    vertical-align: middle;
}
.html-element-select {
    color: #1a151a;
    border: 1px solid #e8e0e8;
    padding: 6px 8px;
    border-radius: 1px;
}

.html-element-datetime {

}

.html-element-textarea {
    height: 280px;
}

.html-button {
    border: none;
    font-size: 1em;
    padding: 6px 8px;
    margin: 0;
    background: #1c94c4;
    color: #fff;

    border-radius: 0.2em;
}
.html-button.size-small {
    font-size: 0.8em;
    padding: 4px 6px;
}
.html-button.size-large {
    font-size: 1.2em;
    padding: 8px 12px;
    border-radius: 0.3em;
}
.html-button.size-huge {
    font-size: 1.4em;
    padding: 12px 16px;
    border-radius: 0.4em;
}

.html-button:hover {
    cursor: pointer;
    color: #fff;
    background: #1c7ead;
}
.html-button:disabled {
    cursor: default !important;
    background: #717171;
    color: #9e9e9e;
}
.html-button.html-button-add {}

.html-button.html-button-accept {
    background: #1ac44c;
}
.html-button.html-button-accept:hover {
    background: #1aaf46;
}

.html-button.html-button-decline,
.html-button.html-button-delete {
    background: #df3737;
}
.html-button.html-button-decline:hover,
.html-button.html-button-delete:hover {
    background: #c53434;
}

.html-button.html-button-auth {
    margin-left: 10px;
    margin-top: 10px;
    padding: 6px 8px;
    background: #fff;
    color: #1c94c4;
    display: inline-block;
    font-size: 1.1em;

    border-radius: 2px;
}
.html-button.html-button-auth:hover {
    color: #1c7ead;
    background: #ebebeb;
}
.html-button.html-button-auth.html-button-login {}
.html-button.html-button-auth.html-button-register {}
.html-button.html-button-auth.html-button-requestpassword {}
.html-button.html-button-auth.html-button-exit {
    color: #c53434;
}
.html-button.html-button-auth.html-button-exit:hover {
    color: #fff;
    background: #c53434;
}
.html-button.html-button-auth.html-button-userLogin {
    font-weight: bold;
    margin-left: 0;
    background: none;
    color: #fff;
}
.html-button.html-button-auth.html-button-userLogin:hover {
    color: #ebebeb;
}

.html-element-menu {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}
.html-element-menu .html-element-menu-child {}
.html-element-menu .html-element-menu-li {
    display: block;
    margin: 0;
    padding: 0;
}
.html-element-menu .html-element-menu-li-head {}
.html-element-menu .html-element-menu-li-link {
    display: block;
}
/**
	HTML элементы - КОНЕЦ
 */
/**
	Иконки - НАЧАЛО
 */
.html-icon-button {
    width: 24px;
    height: 24px;
    /*
    border: 1px solid #958f8f;
    */
    background: #ecece8;
    color: #736d6d;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}
a.html-icon-button {
    line-height: 24px;
}
.html-icon-button:hover {
    background: #d7d7d3;
    cursor: pointer;
}
.html-icon-button:disabled {
    cursor: default!important;
}

.html-icon-button::before {
    font-family: 'tfl-nm';
}
.html-icon-button.icon-open::before {
    content: '\e107';
}
.html-icon-button.icon-edit::before {
    content: '\e109';
}
.html-icon-button.icon-delete::before {
    content: '\e011';
}
.html-icon-button.icon-add::before {
    content: '\e004';
}

.html-icon-button.icon-open {
    background: $background[100];
    color: #fff;
    border-color: $background[101];

    border-radius: 2px;
}
.html-icon-button.icon-edit {
    background: $background[102];
    color: #fff;
    border-color: $background[103];

    border-radius: 2px;
}
.html-icon-button.icon-delete {
    background: $background[104];
    color: #fff;
    border-color: $background[105];

    border-radius: 2px;
}
.html-icon-button.icon-add {
    background: #00c853;
    color: #fff;
    border-color: #00c853;

    border-radius: 2px;
}

.html-icon-button.icon-image-view {
    background: #27bff7;
    color: #fff;
    border-color: #26aee5;

    border-radius: 2px;
}
.html-icon-button.icon-image-insert {
    background: #f7ad00;
    color: #fff;
    border-color: #d69200;

    border-radius: 2px;
}
.html-icon-button.icon-image-delete {
    background: #df3737;
    color: #fff;
    border-color: #d63737;

    border-radius: 2px;
}
/**
	Иконки - КОНЕЦ
 */


/*
@todo Перенести в основной файл стилей
 */
.section-option-list {
    padding: 10px 20px;
}

/**
	BEGIN Таблица редактирования модели
 */
.view-model-table {}
.view-model-table.view-edit {}
.view-model-table.view-details {}
.view-model-table .view-row td {
    padding: 2px 4px;
}
.view-model-table .view-row-header td {
    font-weight: bold;
    font-size: 1.1em;
}
.view-model-table .view-td-title {
    width: 280px;
}
.view-model-table .view-td-value {

}
.view-model-table .view-row-action .html-button {
    margin-right: 8px;
}
/**
	END Таблица редактирования модели
 */

/**
	BEGIN Таблица списка моделей
 */
.view-list-table {
    border-collapse: collapse;
    border: 1px solid #1c94c4;
}
.view-list-table .view-row-header {
    font-weight: bold;
}
.view-list-table .view-td-header {
    background: #1c94c4;
    color: #fff;
    padding: 0.6em;
}
.view-list-table .view-row {

}
.view-list-table .view-td {
    padding: 0.4em 0.6em;
}
/**
	END Таблица списка моделей
 */


/**
	BEGIN Загрузка изображений
 */
.image-add-file {}
.image-add-file.loading .file-action::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.8);
    z-index: 20;
}
.image-add-file .file-action {
    display: inline-block;
    position: relative;
}
.image-add-file input[type=file] {
    display: none;
}
.image-add-file .labelFile {
    width: 50px;
    height: 50px;
    line-height: 50px;
    background: #1c94c4;
    color: #fff;
    display: inline-block;
    text-align: center;
    font-size: 2em;
    font-weight: bold;

    border-radius: 4px;
}
.image-add-file .labelFile:hover {
    cursor: pointer;
    background: #1c7ead;
}

.image-add-file.type-cover .labelFile {
    width: 120px;
    height: 120px;
    line-height: 120px;
    font-size: 4em;
}
.image-add-file.type-cover.loaded .labelFile {
    display: none;
}
.image-add-file.type-cover.loaded .image-cover-field {
    display: inline-block;
}

.image-screen-field {}
.image-screen-field .image-screen-list {
    width: 620px;
}
.image-screen-field .image-add-file {
    margin-bottom: 8px;
}
.image-screen-field .image-cover-field,
.image-screen-field .image-screen-list .one-image {
    border: 1px solid #1c94c4;
    vertical-align: top;
    display: inline-block;
    margin: 2px;
    position: relative;

    border-radius: 2px;
    box-sizing: border-box;
}

.image-screen-field.type-view-details .image-cover-field,
.image-screen-field.type-view-details .image-screen-list .one-image {
    border: none;
}
.image-screen-field .image-cover-field {
    display: none;
    line-height: 120px;
}
.image-screen-field .image-screen-list .one-image {
    line-height: 120px;
}
.image-screen-field .image-cover-field .action,
.image-screen-field .one-image .action {
    display: none;
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
    z-index: 10;

    /*
        @todo Сделать общий класс с фоном таким, раздели их
    */
    background: rgba(0,0,0,0.4);
}
.image-screen-field .image-cover-field:hover .action,
.image-screen-field .one-image:hover .action {
    display: block;
}
.image-screen-field .image-cover-field .view,
.image-screen-field .one-image .view {
    text-align: center;
    width: 120px;
    height: 120px;
    display: table-cell;
    vertical-align: middle;
}
.image-screen-field .image-cover-field .view img,
.image-screen-field .one-image .view img {
    max-width: 120px;
    max-height: 120px;
    display: inline-block;
    vertical-align: middle;
}
.image-screen-field .image-cover-field .action > button,
.image-screen-field .image-cover-field .action > a,
.image-screen-field .one-image .action > button,
.image-screen-field .one-image .action > a {
    vertical-align: middle;
    margin: 0 4px;
}
/**
	END Загрузка изображений
 */

/**
    bbtags BEGIN
 */
.bbtags-field {
    margin: 0 0 6px 0;
}
.bbtags-field .tag {
    width: 24px;
    height: 24px;
    line-height: 24px;
    display: inline-block;
    background: #d0d0d0;
    color: #282828;
    margin-left: 2px;
    text-align: center;
    overflow: hidden;
    vertical-align: top;

    border-radius: 1px;
}
.bbtags-field .tag:hover {
    background: #c6c6c6;
    cursor: pointer;
}
.bbtags-field .tag::before {
    content: '';
}
.bbtags-field .tag.tag-b {
    font-weight: bold;
}
.bbtags-field .tag.tag-b::before {
    content: 'b';
}
.bbtags-field .tag.tag-i {
    font-style: italic;
}
.bbtags-field .tag.tag-i::before {
    content: 'i';
}
.bbtags-field .tag.tag-u {
    text-decoration: underline;
}
.bbtags-field .tag.tag-u::before {
    content: 'u';
}
.bbtags-field .tag.tag-s {
    text-decoration: line-through;
}
.bbtags-field .tag.tag-s::before {
    content: 's';
}
.bbtags-field .tag.tag-center::before {}
.bbtags-field .tag.tag-sup {}
.bbtags-field .tag.tag-sup::before {
    content: '';
}
.bbtags-field .tag.tag-sub {}
.bbtags-field .tag.tag-sub::before {}
.bbtags-field .tag.tag-q::before {
    content: 'q';
}
.bbtags-field .tag.tag-blockquote::before {
    content: 'bq';
}
.bbtags-field .tag.tag-spoiler::before {}
.bbtags-field .tag.tag-p::before {
    content: 'p';
}
/**
    bbtags END
 */

/**
    tGallery BEGIN
 */
.tImage {
    display: inline-block;
    vertical-align: top;
}
.tImage img {
    width: 100%;
    max-width: 280px;
}
/**
    tGallery END
 */


/**
    Формы BEGIN
 */
.tFormAction {
    text-align: center;
}
.tFormAction .html-element-form {
    max-width: 240px;
    text-align: left;
}
.tFormAction.action-login {

}
.tFormAction.action-register {

}
.tFormAction.action-password {

}
/**
    Формы END
 */